nav {
    ul {
        /*width:100%;*/
        li {
            @extend .center-align !optional;
            a {
                /*padding: 0; */
            }
        }
    }
}

nav#primary {
    @extend .white !optional;
    box-shadow: none;
    top: 0;
    ul li {
        width: 6rem;
        a {
            color: black;
            text-transform: uppercase;
            font-style: italic;
            font-weight: bolder;
        }
    }
    ul#slide-out li {
        width: auto;
    }
}

a.hamburger {
    transition: all 0.2s linear 0.125s;
    display: block;
    opacity: 0;
    width: 0;
    padding: 0;
    float: left;
    height: 100%;
}

.navbar-fixed nav#primary {
    @extend .z-depth-1 !optional;
    top: 0;
    a.hamburger {
        opacity: 1;
        width: 55px;
    }
}


.brand-logo {
    height: 100%;
}

#secondary-nav-wrapper .container {
    padding: 0 10%;
}

nav#secondary {
    @extend .grey.lighten-4 !optional;
    ul li {
        width: 25%;
        a {
            color: black;
        }
    }

}
