extends ./layout

block body
  #toolbar
    button.ql-bold Bold
    button.ql-italic Italic
  #editor
  script(src='/lib/quill/dist/quill#{min}.js')
  script(src='/js/dtohtml.js')
  script(type='text/javascript').
    var quill = new Quill('#editor');
    quill.addModule('toolbar', { container: '#toolbar' });

    var deltas = []
    quill.on('text-change', function(delta, source) {
      deltas.push(delta)
    });
