extends ./layout

block styles
  link(href="/lib/quill/dist/quill.base.css",rel="stylesheet")
  link(href="/lib/quill/dist/quill.snow.css",rel="stylesheet")
//
  link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  link(href="/css/aloha-ui.css",rel="stylesheet")

block body
  #toolbar
    span.ql-format-button.ql-bold
    span.ql-format-separator
    span.ql-format-button.ql-italic
    span.ql-format-separator
    span.ql-format-button.ql-firstheader
  #editor
  script(src='/lib/quill/dist/quill#{min}.js')
  script(type='text/javascript')
    :coffee
      quill = new Quill '#editor',
        theme: 'snow'
        formats: ['bold', 'italic', 'strike', 'underline', 'link', 'bullet', 'list', 'firstheader', 'secondheader', 'thirdheader']
        modules:
          toolbar: 
            container: '#toolbar'

      deltas = []
      quill.on 'text-change', (delta, source) ->
        deltas.push delta
  script(src='/js/dtohtml.js')

//
  #aloha
    .aloha-ui.btn-toolbar(role='toolbar')
        .btn-group
            button.aloha-action-B.btn.btn-default(type='button', title='Bold')
              b B
            button.aloha-action-I.btn.btn-default(type='button', title='Italic')
              i I
            button.aloha-action-unformat.btn.btn-default(type='button', title='Remove formatting')
              span.glyphicon.glyphicon-remove
          .btn-group
            button.aloha-action-OL.btn.btn-default(type='button', title='Ordered List')
              span.glyphicon.glyphicon-list
            button.aloha-action-UL.btn.btn-default(type='button', title='Unordered List')
              span.glyphicon.glyphicon-list
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
              | Paragraph
              span.caret
            ul.dropdown-menu.funky(role='menu')
              li
                a.aloha-action-H2(href='#') Heading 2
              li
                a.aloha-action-H3(href='#') Heading 3
              li
                a.aloha-action-H4(href='#') Heading 4
              li
                a.aloha-action-P(href='#') Paragraph
              li
                a.aloha-action-PRE(href='#') Preformatted
        .aloha-3d.aloha-ui
          .btn-group
            button.aloha-action-A.btn.btn-default(type='button', data-activeon='a', title='Create Link')
              span.glyphicon.glyphicon-link
    .aloha-editor
    
block scripts

//
  script(src="/js/aloha.min.js")
  script(src="/js/aloha-ui.js")
  script(src="/js/aloha-ui-links.js")
