extends ./layout

block body
  #toolbar
    button.ql-bold Bold
    button.ql-italic Italic
  #editor
  script(src='//cdn.quilljs.com/0.18.1/quill.js') 
  script(src='/js/deltas.js')
  script(type='text/javascript').
    var quill = new Quill('#editor');
    quill.addModule('toolbar', { container: '#toolbar' });

    var deltas = []
    quill.on('text-change', function(delta, source) {
      deltas.push(delta)
    });
