mixin form(endpoint, ...items)
  form(action="/#{endpoint}", method='post' data-abide)
    for item in items
      .row
        .small-10.medium-7.large-5.small-centered.columns
          label #{item.label}:
            input(id="#{item.attrs.name}")&attributes(item.attrs)
            small.error #{item.error}
    .row
      .small-10.medium-7.large-5.small-centered.columns
        button.radius(type="submit",role="button", aria-label="submit form", href="#") Submit
