<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <h3><%= link_to article.title, article %></h3>
          <p>by <%= link_to article.author.name, article.author %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
