ul#menu-navbar.nav
  li.menu-item class=(:'current-menu-item' if current_page? root_path)
    a href=root_url Home
  - Department.all.each do |dept|
    li.menu-item.menu-item-object-category.menu-parent-item
      = link_to dept.name, dept
      .sub-mega-wrap
        i.sub-menu-collapse.icon-chevron-down.hidden-desktop
        .subcat
          .active
            ul
              - dept.articles.published.each do |article|
                li class=(:has_thumbnail if article.has_thumbnail?)
                  - if article.has_thumbnail?
                    .subcat-thumbnail
                      = link_to article, title: article.title do
                        = article.thumbnail
                  .subcat-title
                    = link_to article, title: article.title do
                      = article.title
                      span= " - #{article.formatted_date}"
/</div>
/</li>
/<li id="menu-item-136" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-parent-item menu-parent-item menu-item-136 color-none 0"><a href="http://www.stuyspec.com/category/opinion">Opinions</a><div class="sub-mega-wrap">
/<i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-210" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-210 active color-none 1"><a href="http://www.stuyspec.com/category/opinion">Opinions</a></li>
/<li id="menu-item-139" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-139 color-none 1"><a href="http://www.stuyspec.com/category/opinion/staff-ed">Staff Ed</a></li>
/</ul>
/</div>
/</li>
/<li id="menu-item-137" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-parent-item menu-parent-item menu-item-137 color-none 0"><a href="http://www.stuyspec.com/category/humor">Humor</a><div class="sub-mega-wrap">
/<i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-505 active color-none 1"><a href="http://www.stuyspec.com/category/humor">Humor</a></li>
/<li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-506 color-none 1"><a href="http://www.stuyspec.com/category/humor/disrespectator">Disrespectator</a></li>
/</ul>
/</div>
/</li>
/<li id="menu-item-138" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-parent-item menu-parent-item menu-item-138 color-none 0"><a href="http://www.stuyspec.com/category/features">Features</a><div class="sub-mega-wrap">
/<i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-1357" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1357 active color-none 1"><a href="http://www.stuyspec.com/category/features">Features</a></li>
/<li id="menu-item-1355" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1355 color-none 1"><a href="http://www.stuyspec.com/category/features/creative-writing">Creative Writing</a></li>
/<li id="menu-item-1381" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1381 color-none 1"><a href="http://www.stuyspec.com/category/features/college-essays">College Essays</a></li>
/</ul>
/</div>
/</li>
/<li id="menu-item-135" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-parent-item menu-parent-item menu-item-135 color-none 0"><a href="http://www.stuyspec.com/category/ae">A&amp;E</a><div class="sub-mega-wrap">
/<i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-842" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-842 active color-none 1"><a href="http://www.stuyspec.com/category/ae">Art &amp; Entertainment</a></li>
/<li id="menu-item-832" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-832 color-none 1"><a href="http://www.stuyspec.com/category/ae/books">Books</a></li>
/<li id="menu-item-833" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-833 color-none 1"><a href="http://www.stuyspec.com/category/ae/film">Film</a></li>
/<li id="menu-item-834" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-834 color-none 1"><a href="http://www.stuyspec.com/category/ae/food">Food</a></li>
/<li id="menu-item-835" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-parent-item menu-parent-item menu-item-835 color-none 1"><a href="http://www.stuyspec.com/category/ae/live-performances">Live Performances</a><i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-837" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-837 color-none 2"><a href="http://www.stuyspec.com/category/ae/live-performances/stc">STC</a></li>
/<li id="menu-item-836" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-836 color-none 2"><a href="http://www.stuyspec.com/category/ae/live-performances/sing">SING!</a></li>
/</ul>
/</li>
/<li id="menu-item-838" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-838 color-none 1"><a href="http://www.stuyspec.com/category/ae/music">Music</a></li>
/<li id="menu-item-839" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-839 color-none 1"><a href="http://www.stuyspec.com/category/ae/television">Television</a></li>
/</ul>
/</div>
/</li>
/<li id="menu-item-142" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-142 color-none 0"><a href="http://www.stuyspec.com/category/sports">Sports</a><div class="sub-mega-wrap">
/<div class="subcat"></div>
/</div>
/</li>
/<li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item menu-parent-item menu-item-213 0"><a href="http://www.stuyspec.com/media">Media</a><i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-140" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-140 active color-none 1"><a href="http://www.stuyspec.com/category/art">Art</a></li>
/<li id="menu-item-141" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-141 color-none 1"><a href="http://www.stuyspec.com/category/photo">Photo</a></li>
/</ul>
/</li>
/<li id="menu-item-3316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3316 0"><a href="http://www.stuyspec.com/apparel">Apparel</a></li>
/<li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-parent-item menu-parent-item menu-item-376 0"><a href="http://www.stuyspec.com/about">More</a><i class="sub-menu-collapse icon-chevron-down hidden-desktop"></i>
/<ul class="sub-menu">
/<li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209 active 1"><a href="http://www.stuyspec.com/about">About</a></li>
/<li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322 1"><a href="http://www.stuyspec.com/advertise">Advertise</a></li>
/<li id="menu-item-3125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3125 1"><a href="http://www.stuyspec.com/calendar">Calendar</a></li>
/<li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159 1"><a href="http://www.stuyspec.com/contact">Contact</a></li>
/<li id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1594 1"><a href="http://www.stuyspec.com/join-us">Join Us</a></li>
/<li id="menu-item-2962" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2962 1"><a href="http://www.stuyspec.com/sponsors">Sponsors</a></li>
/<li id="menu-item-208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208 1"><a href="http://www.stuyspec.com/staff">Staff</a></li>
/<li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321 1"><a href="http://www.stuyspec.com/visual-archives">Visual Archives</a></li>
/</ul>
/</li>
/</ul>
