footer 
  = yield
/tag!
  | Bootstrap core JavaScript
  | \==================================================
/! Placed at the end of the document so the pages load faster
/script src=("//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
/! IE10 viewport hack for Surface/desktop Windows 8 bug
/* script src=("./Dashboard Template for Bootstrap_files/ie10-viewport-bug-workaround.js") */
/* #global-zeroclipboard-html-bridge.global-zeroclipboard-container data-original-title=("Copy to clipboard") style=("position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;") title="" */
  object#global-zeroclipboard-flash-bridge classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" height="100%" width="100%"
    param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1422378554926" /
    param name="allowScriptAccess" value="sameDomain" /
    param name="scale" value="exactfit" /
    param name="loop" value="false" /
    param name="menu" value="false" /
    param name="quality" value="best" /
    param name="bgcolor" value="#ffffff" /
    param name="wmode" value="transparent" /
    param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" /
    embed allowfullscreen="false" allowscriptaccess="sameDomain" bgcolor="#ffffff" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" height="100%" loop="false" menu="false" name="global-zeroclipboard-flash-bridge" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="best" scale="exactfit" src="/assets/flash/ZeroClipboard.swf?noCache=1422378554926" type="application/x-shockwave-flash" width="100%" wmode="transparent"
svg height="200" preserveaspectratio="none" style=("visibility: hidden; position: absolute; top: -100%; left: -100%;") viewbox=("0 0 200 200") width="200" xmlns="http://www.w3.org/2000/svg"
  defs
  text style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle" x="0" y="10"  200x200
